/* customGrapesJS.css */
.gjs-editor {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.gjs-block {
  border: 1px solid #ff0000;
  padding: 10px;
  background-color: #ff8181;
  margin: 5px;
}

.gjs-block:hover {
  border-color: #aaa;
}

.gjs-cv-canvas {
  border: 1px solid #000;
}

.gjs-pn-views-container {
  background-color: #333;
  color: #fff;
}

/* Customizing the toolbar */
.gjs-toolbar {
  background-color: #444;
}

.gjs-toolbar .gjs-btn {
  color: #fff;
}
