{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "auto",
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore"
}
